.gpt3__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.gpt3__navbar-links_logo{
    margin-right: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.gpt3__navbar-links_logo img{
    width: 100%;
    height: 100%;
}

.gpt3__navbar-links_container{
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 38px;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
#cu_btn{
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: transparent;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
    outline: none;
    cursor: pointer;
}

.gpt3__navbar-menu{
    margin-left: 1rem;

    display: none;
    position: relative;
}

.gpt3__navbar-menu svg{
    cursor: pointer;

}

.gpt3__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: right;
    background: transparent;
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 2rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

    border: 1px solid #8176AF;
    background: #8176afd8;
}
.gpt3__navbar-menu_container p{
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container{
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
    .gpt3__navbar-sign button,
    .gpt3__navbar-menu_container button{
        font-size: 12px;
        line-height: 1;
    }
    #cu_btn{
        font-size: 12px;
        line-height: 1;
    }
}
@media screen and (max-width: 700px) {
    .gpt3__navbar-links_logo:nth-child(1){
        width: 46px;
        height: 28px;
    }
    .gpt3__navbar-links_logo{
        gap: 20px;
    }
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
    .gpt3__navbar-sign{
        gap: 20px;
    }
    .gpt3__navbar-sign button,
    .gpt3__navbar-menu_container button{
        font-size: 12px;
        line-height: 1;

    }
    #cu_btn{
        font-size: 12px;
        line-height: 1;
    }
}
@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }
    .gpt3__navbar-sign{
        display: none;
    }
    .gpt3__navbar-menu_container{
        top: 20px;
    }
    .gpt3__navbar-menu_container-links-sign{
        display: block;
    }
    .gpt3__navbar-sign button,
    .gpt3__navbar-menu_container button{
        font-size: 12px;
        line-height: 1;

        width: 150px;
    }
    #cu_btn{
        font-size: 12px;
        line-height: 1;
        margin-bottom: 15px;
    }
}